/******************* MY CSS GENERIC **********************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.my_class_boxed {
    width: 75rem;
    margin: 0 auto;
}

.my_class_padding_10 { padding: .625rem; }

.min-height { min-height:18.75rem}

/******************* MY CSS NAV **********************/
.my_class_color_white { color: white; }

.my_class_navbar_inside {
    height: 5rem;
    width: 100%;
    background-color: #2c3e50;
}

.my_class_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/******************* MY CSS HERO SECTION **********************/   
.link-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
}
  
.link-wrapper a {
    color: white;
    font-size: 1.25rem;
    margin: 0 .625rem;
    text-decoration: none;
}
  
.link-wrapper a:hover {
    text-decoration: underline;
}

/******************* MY CSS FOOTER **********************/ 
.my_class_inside_footer { height: 5rem;}

.my_display_flex { display: flex; }

.my_footer_flex {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}