/******************* MY CSS GENERIC **********************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.my_bg_color_primary { background-color: #2c3e50; }
.my_bg_color_secondary { background-color: #1abc9c }
.my_bg_color_third { background-color: #3a546d }

.my_max_width { max-width: 75rem }

.my_svg { width: 25%; height: auto }
/******************* MY CSS NAV **********************/

.my_class_navbar_inside {
    height: 5rem;
    width: 100%;
}

/******************* MY CSS HERO SECTION **********************/   
.my_link_wrapper { margin-top: 1.25rem; }
  
.my_link_wrapper a {
    color: white;
    font-size: 1.25rem;
    margin: 0 .625rem;
    text-decoration: none;
}
  
.my_link_wrapper a:hover { cursor: pointer; }

hr { 
    border: .1875rem solid white; 
    opacity: 1;
}

.my_dark_hr {
    border: .1875rem solid black;
}
/******************* MY CSS MAIN SECTION CARD **********************/ 
.my_hover_card { 
    transition: all 0.3s;
    cursor: pointer;
}

.my_hover_card:hover { transform: scale(1.05); }

/******************* MY CSS FOOTER **********************/ 
.my_class_inside_footer { height: 5rem; }

